@model Redfern.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="page-region">
    <div class="page-region-content">
        <div class="center padding20 border bd-red" style="margin-top:50px">
            <h2>@ViewBag.Title</h2>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account</h4>
                <hr />
                @Html.ValidationSummary()
                @Html.EditorFor(m => m.UserName, "textbox")
                @Html.EditorFor(m => m.Password, "password")
                @Html.EditorFor(m => m.ConfirmPassword, "password")
                <p>
                    <button type="submit" class="primary">Register Me</button>
                </p>
            }

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
