@model Redfern.Web.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
    ViewBag.Title = "Reset Password - Redfern";
}

<div class="bg-dark">

    <div class="bg-darker " style="margin-top:50px">
        <div class="container padding20" style="">
            <h1 class="fg-white"><img src="~/content/images/redfern-icon.png" class="shadow span1" /> Redfern</h1>
            <div class="grid fluid">
                <div class="row ">
                    <div class="span5">
                        <section id="loginForm" class="fg-white">
                            <h2 class="fg-white">Reset your password</h2>
                            @using (Html.BeginForm("resetpassword", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post ))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(m=>m.Code)
                                @Html.HiddenFor(m=>m.Email)
                                
                                @Html.EditorFor(m => m.Password, "password")
                                @Html.EditorFor(m => m.ConfirmPassword, "password")
                                <p style="margin-top:10px">
                                    <button type="submit" class="large primary">Reset Password <i class="icon-arrow-right-3"></i></button>
                                </p>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
