@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @RenderSection("Styles", required: false)
}

@section Scripts{
    @RenderSection("Scripts", false)
    @Scripts.Render("~/bundles/signalr", "~/bundles/knockout", "~/bundles/sammy")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/modules")
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @if (Request.IsAuthenticated)
    {
        <script type="text/javascript" src="@Url.Action("update", "clienttimezone", new { area = "" })"></script>
    }
}

<div id="wrapper">
    <header class="page" style="height:8px!important">
        @Html.Partial("_AppNavigationBar")
    </header>
    <section class="page" style="padding-top:50px;">
        @RenderBody()
    </section>
</div>

<footer class="page">
    @Html.Partial("_Footer")
</footer>
