@model Redfern.Web.Models.ManageUserViewModel

<div id="ChangePassword" class="page-region">
    <div class="page-region-content" >
        <div class="grid fluid">
            <div class="row" data-bind="visible:passwordChanged()==false">
                <div class="offset1 span3">
                    <h2 class="fg-red">Change your password</h2>
                    <p class="text-muted tertiary-text-secondary">
                        Enter a new password. We highly recommend you create a unique password - one that you don't use for any other websites.
                    </p>
                    <p class="text-muted tertiary-text-secondary">
                        Note: You can't reuse your old password once you change it.
                    </p>

                </div>
                <div class="offset1 span3" >
                    <h2>&nbsp;</h2>
                    @Html.ValidationSummary()
                    <form id="ChangePasswordForm">
                        <div class="bg-red padding20" style="height:60px;width:100%;margin-bottom:20px" data-bind="visible:errors().length>0">
                            <!--ko foreach:errors-->
                            <p class="fg-white" data-bind="text: $data"></p>
                            <!--/ko-->

                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("UserName",  "patrick", new { data_bind="value: userName" })
                        @Html.EditorFor(m => m.OldPassword, "password", new { databind = "value: oldPassword" })
                        @Html.EditorFor(m => m.NewPassword, "password", new { databind = "value: newPassword" })
                        @Html.EditorFor(m => m.ConfirmPassword, "password", new { databind = "value: confirmPassword" })
                        <button class="primary" data-bind="click: changePassword">Change</button>
                        <button class="link" data-bind="click: cancel">Cancel</button>
                    </form>
                </div>

                <div class="span2">
                    
                </div>
            </div>
            <div class="row" data-bind="visible:passwordChanged()==true">
                <div class="offset1 span4">
                    <h2 class="fg-red">You have changed you password.</h2>
                    <p class="text-muted tertiary-text-secondary">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
</script>
