@model Redfern.Web.Models.BoardViewModel

<div class="page-region" style="">
    <div class="page-region-content " id="Board">
        <!-- ko if: (viewMode() == 'board') -->
        <div data-bind="template:{ name: 'board-template', data: $data}"></div>
        <!-- /ko -->
        <!-- ko if: (viewMode() == 'list') -->
        <div data-bind="template:{ name: 'board-list-template', data: $data}"></div>
        <!-- /ko -->

        <!-- ko if: (viewMode() == 'columnview') -->
        <div data-bind="template:{ name: 'column-properties-template', data: $data}"></div>
        <!-- /ko -->
    </div>
</div>

@Html.Partial("_SidebarCharms")
@Html.Partial("_ColumnPropertiesForm")
@Html.Partial("_CardPropertiesDialog")
@Html.Partial("_Templates")

<script type="text/javascript">
    var model = @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings(){ ContractResolver = new CamelCasePropertyNamesContractResolver() }));
</script>
